<div class="overall">
<% idea.forEach(function(idea, i){ %>
	<a href="/ideas/<%=idea._id%>"
		style="text-decoration: none;">
		<div class="child mdl-card mdl-shadow--2dp">
			<div class="mdl-card__media">
				<img class="img" src="<%= idea.image %>" width="100%" height="150%"  />
			</div>
			<div class="mdl-card__title">
				<%= idea.upvotes %> <%= idea.title %>
			</div>
			<div class="mdl-card__supporting-text --border">
				<a href="/ideas/<%=idea._id%>"></a>
			</div>
		</div>
		<% }); %>
	</a>
</div>
<br>

<a href="ideas/new"><button id="add" class="main-fab-button mdl-button mdl-js-button mdl-button--fab mdl-button--colored mdl-js-ripple-effect mdl-button--colored">
  <i class="material-icons">add</i>
</button></a>
<!-- Simple Tooltip -->
<div class="mdl-tooltip" for="add">
Make A New Idea
</div>
