<a href="/ideas/new">Post A New Idea!</a>
<hr>
<dl id="site" class="index">
<% idea.forEach(function(idea, i){ %>
<a class="indexlink" href="/ideas/<%=idea._id%>">
	<dt><%=idea.title  %></dt>
	<dd><%=idea.content  %></dd>
	<img src="<%=idea.image%>" alt="" />
	<br>
<form action= '/ideas/<%= idea._id%>/?_method=DELETE' method="post">
  <input type= "submit" value = "Delete">
</a>
<% }); %>
</dl>
