<div id="site" class="index">
  <div class="">
  <h1 class="bigger-type"><%= idea.title %><p class"smaller-type"> posted by <%=idea.author%></p></h1>
  </div>
  <div class="total-idea">
    <p>
      <%= idea.content %>
    </p>
  </div>
  <div class="button-gatherer">
      <a class="zero" href='/ideas/<%= idea._id %>/edit' method="get"><button class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent" type="button" name="button">Edit</button></a>
    <form class="zero"action= '/ideas/<%= idea._id%>/?_method=DELETE' method="post">
      <input class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent" type= "submit" value = "Delete">
    </form>
    <a href="/comments/new/<%=idea._id%>"><button type="button" class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent">Respond</button></a>
  </div>

  <hr>
  <h3>Comments</h3>
    <% comments.forEach(function (comment, i) { %>
      <div class="responses">
      <div class="reply">
        <p>
          <%= comment.content %> --posted by <%= comment.author %>
        </p>
      </div>
      <ul>
        <% comment.comments.forEach(function (subcomment, i) { %>
          <li><%= subcomment.content %></li>
        <% }) %>
      <li>
        <form class"cleared" action="/comments/<%= comment._id %>/comment" method="post">
            <textarea style="width: 90%;
            background-color: lavender;" class="mdl-textfield__input" rows="8" name="content"></textarea>
            <label class="mdl-textfield__label">What do you think?</label>
          <input class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent"
                 type="submit"
                 value="respond">
          <div class="mdl-textfield mdl-js-textfield textfield-demo">
          </div>
        </form>
      </li>
      </ul>
    </div>
  <% }) %>
    </div>
