<div id="site" class="index">
  <h1><%= idea.title %></h1>
  <div class="total-idea">
    <p>
      <%= idea.content %>
    </p>
    <br>
    <a href='/ideas/<%= idea._id %>/edit' method="get"><button type="button" name="button">Edit</button></a>
    <div class="button-gatherer">
      </form>
      <form class="zero"action= '/ideas/<%= idea._id%>/?_method=DELETE' method="post">
        <input type= "submit" value = "Delete">
      </form>
      <a href="/comments/new">Respond</a>
    </div>

  </div>

  <hr>
  <h3>Comments</h3>

    <% comments.forEach(function (comment, i) { %>
      <p>
        <%= comment.content %>

        <ul>
          <% comment.comments.forEach(function (subcomment, i) { %>
            <li><%= subcomment.content %></li>
          <% }) %>
        <li>
          <form action="/comments/<%= comment._id %>/comment" method="post">
            <input type="text"
                   name="content"
                   placeholder="your reply...">
            <input type="submit">
          </form>
        </li>
        </ul>
      </p>
    <% }) %>
    <hr>

</div>
